<h3><%= @total %> Total Stores</h3>
<ul>
  <% @stores.each do |store| %>
    <li>
    <%= store.long_name %>
    </li>
    <ul>
      <li>
      City: <%= store.city %>
      </li>
      <li>
      Distance: <%= store.distance %>
      </li>
      <li>
      Phone number: <%= store.phone_number %>
      </li>
      <li>
      Store type: <%= store.store_type %>
      </li>
    </ul>
    <br>
  <% end %>
</ul>
